<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<p>Hallo <%=@registration.first_name%></p>
	<p>
		Vielen Dank für deine Anmeldung zu den Clubmeisterschaften. Du hast dich für folgende Konkurrenzen angemeldet:
	</p>
	<ul>
		<%  for reg in @registration.draw_registrations %>
		<li><%=reg.draw.title%></li>
		<%  end %>
	</ul>
	<!--<p>
		Du erhältst kein Aufgebot. Spielpläne und Spielzeiten sind ab <%=@registration.tournament.spielplan_verfuegbar_datum.strftime('%d.%m.%Y')%> im Clubhhaus aufgehängt und im Internet abrufbar.
	</p>-->
	<p>Die Turnierleitung</p>
</body>
</html>