<div class="row top-buffer">
    <div class="col">
        <h3>Kontaktadresse</h3>
        Marco Studer<br>
        Moosackerstrasse 22<br>
        4652 Winznau<br>
        Schweiz<br>
        <%= mail_to "marco.studer@gmx.net", "marco.studer@gmx.net", :encode => "hex"%></p>
    </div>
</div>