<div class="row top-buffer">
    <div class="col-xs-12">
    <p>ClubTournaments ist ein Webdientst zur Vewaltung von Turnieren.</p>
    <h3>Kontaktadresse</h3>
    <p>Marco Studer<br>
    Moosackerstrasse 22<br>
    4652 Winznau<br>
   Schweiz</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
</div>